.info-bar {
    z-index: 150;
    position: fixed;

    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 1px 1px 4px hsla(200, 10%, 10%, 0.3);
    padding: 10px 15px;

    display: grid;
    grid-template-columns: auto auto auto;
}

.info-bar p {
    margin: 5px 0;
}

.info-bar .entry .name {
    margin-top: 10px;
    font-size: 14px;
    color: hsl(200, 10%, 40%);
}

.info-bar .entry .value {
    font-size: 24px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
}

.info-bar .entry .caption {
    font-size: 12px;
    color: hsl(200, 10%, 60%);
    margin: 0;
    margin-top: 3px;
}

.info-bar .finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.info-bar .warning {
    font-size: 12px;
    color: hsl(200, 10%, 40%);
    margin: 0;
    margin-top: 5px;
}

@media (max-width: 800px) {
    .info-bar {
        grid-template-columns: auto auto;
        padding-top: 0;
    }

    .info-bar .finish {
        grid-column: span 2;
        margin-top: 20px;
    }

    .info-bar .warning {
        font-size: 11px;
    }

    .info-bar .entry .name {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .info-bar .entry .value {
        font-size: 16px;
        margin: 0;
    }

    .info-bar .entry .caption {
        font-size: 11px;
        margin-top: 4px;
    }

    .info-bar .entry.footer {
        display: none;
    }
}

