#controls {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    box-shadow: 1px 1px 8px hsla(200, 10%, 10%, 0.3);

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 24px;
    padding-top: 16px;
}

.input-wrapper {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 30px;

    display: flex;
    align-items: center;
}

.input-wrapper .N {
    margin-bottom: 20px;
}

.sieve-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 150px;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cell-size {
    width: 80px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    #controls {
        flex-direction: column;
        padding-top: 28px;
    }

    .input-wrapper {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

        width: 90vw;
    }

    .sieve-wrapper {
        flex-direction: row;
        margin-bottom: 8px;
    }

    .cell-size {
        width: 150px;
    }

    .checkbox-wrapper {
        font-size: 14px;
        margin-left: 20px;
    }
}
